@use '_variaveis.scss';

.footer
{
    text-align: center;
    margin-bottom: 20px;
    img
    {
        height: 90px;
        width: 80px;
        margin: 0 auto 10px;
    }

    &__links
    {
        display: block;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        &__item
        {
            list-style: none;
            display: inline-block;
            margin-bottom: 15px;
            a
            {
                font-size: 15px;
                text-decoration: none;
                padding: 8px 16px;

                &:hover
                {
                    color: variaveis.$corBatman2;
                }
            }
        }
    }
}