@use '_variaveis.scss';

.shows
{
    padding: 2vw 5.6vw;
    margin-bottom: 5.6vw;
    background-color: variaveis.$corDeFundoSobre;

    &__list
    {
        list-style: none;
        display: none;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 44px;
        margin: 0;

        &--is-active
        {
            display: grid;
        }

        &__item
        {
            margin: 60px 60px 60px 0;

            &__homeButton
            {
                background-color: variaveis.$corTextoSecundario;
                opacity: .5;
                padding: 10px;
                width: 50%;
                border-radius: 7px;
                font-size: 20px;
                margin-top: 20px;
                cursor: pointer;
                transition: color .3s ease;
                display: block;

                &:hover
                {
                    color: variaveis.$corBatman2;
                }
            }

            &__button
            {
                padding: 8px;
                font-size: 20px;
                background-color: variaveis.$corBatman1;
                border: none;
                border-radius: 4px;
                margin-top: 15px;
                width: 200px;
                color: variaveis.$corTextoPrincipal;
                font-weight: bold;
                transition: background-color .2s ease;
                margin-bottom: 15px;
                &:hover
                {
                    cursor: pointer;
                    background-color: variaveis.$corBatman2;
                    color: variaveis.$corDeFundo;
                }
            }
            p
            {
                font-size: 30px;
            }
            
            img
            {
                max-width: 100%;
                height: 250px;
                border-radius: 4px;
                margin-bottom: 20px;
            }
            p:last-child
            {
                font-size: 20px;
                margin-top: 10px;
            }
        }

        &__games
        {
            display: grid;
            grid-template-columns: 1fr 1fr;
            list-style: none;
            text-align: center;
            align-items: center;
            justify-content: center;
            margin-left: 225px;

            .imageGame
            {
                width: 550px;
            }

            li
            {
                background-color: variaveis.$corTextoPrincipal;
                border-radius: 7px;
                width: 400px;
                p
                {
                    color: variaveis.$corDeFundo
                }
            }
            img
            {
                border-radius: 4px;
            }

            .plataformas
            {
                margin-top: 23px;
                display: flex;
                justify-content: center;
                background-color: variaveis.$corTextoPrincipal;
                max-width: 200px;
                border-radius: 7px;
                img
                {
                    height: 30px;
                    margin: 0;
                    margin: 0 15px 0 15px;
                    padding: 5px;
                }
            }
        }

        &__figs
        {
            margin-left: 215px;
            display: grid;
            flex-wrap: wrap;
            grid-template-columns: 1fr 1fr 1fr;
            text-align: center;
            margin-top: 40px;
            gap: 90px;
            

            li
            {
                margin-bottom: 15px;
                border: transparent;
                border-radius: 15px;
                background-color: variaveis.$corDeFundoBotao;
                text-align: center;
                cursor: pointer;

                img
                {
                    border-radius: 15px;
                }

                &:hover
                {
                    box-shadow: 0 0 60px variaveis.$cordeFundoBotaoFigs;
                }
                
                
                p
                {
                    color: variaveis.$corDeFundo;
                    font-size: 15px;
                }

                .descFigs
                {
                    font-size: 30px;
                }
                .price
                {
                    font-size: 28px;
                    color: variaveis.$cordeFundoBotaoFigs;
                    font-weight: bold;
                }

                button
                {
                    padding: 8px;
                    text-transform: uppercase;
                    background-color: variaveis.$cordeFundoBotaoFigs;
                    color: variaveis.$corTextoSecundario;
                    width: 80%;
                    font-size: 20px;
                    border-radius: 15px;
                    margin-bottom: 15px;
                    margin-top: 15px;
                }
            }
        }
    }

    &__tabs
    {
        display: flex;
        justify-content: center;
        
        &__button
        {
            cursor: pointer;
            background-color: transparent;
            color: variaveis.$corTextoPrincipal;
            letter-spacing: 2px;
            padding: 8px;
            font-size: 30px;
            border: none;
            margin: 0 1vw;
            text-transform: uppercase;
            
            &--is-active
            {
                
                border-bottom: 5px solid variaveis.$corBatman2;
            }
        }
    }
}