$corDeFundo: #000;
$corTextoPrincipal: #ccc;
$corTextoSecundario: #f9f9f9;
$corDeFundoBotao: #ffff;
$corBatman1: #4c4ce5;
$corBatman2: #fccb51;
$corDeFundoSobre: rgb(30, 30, 30);
$cordeFundoBotaoFigs: #4c3999;