@use '_variaveis.scss';
@use '_hero.scss';
@use '_header.scss';
@use '_sobre.scss';
@use '_shows.scss';
@use '_footer.scss';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


*
{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

body
{
    background-color: variaveis.$corDeFundo;
}

.slides
{
    width: 80%;
    margin-top: 150px;
    margin-bottom: 100px;
    padding: 50px;
    img
    {
        height: 500px;
        border-radius: 50px;
        padding: 0 30px 0 30px;
    }
}

@mixin text($fontSize: 16px)
{
    font-size: $fontSize;
    line-height: $fontSize + 10px; 
    color: variaveis.$corTextoPrincipal;
}

.text--big
{
    @include text(18px)
}

.text
{
    @include text()
}

.text--small
{
    color: variaveis.$corTextoPrincipal;
    @include text(12px)
}



@mixin title($fontSize: 40px)
{
    @include text($fontSize);
    color: variaveis.$corTextoSecundario;
}

.title--big
{
    @include title(44px);
}

.title--small
{
    @include title(28px);
}


.title
{
    @include title(40px);
}

.link--text
{
    @include text(18px);
    color: variaveis.$corTextoSecundario;
    text-decoration: underline;
}


@media (max-width: 768px)
{
    *
    {
        margin: 0;
        width: 100%;
    }

    .slides
    {
        width: 100%;
        margin-bottom: 10px;
        margin-top: 0;
        img
        {
            height: 150px;
            border-radius: 1;
        }
    }
    .nav
    {
        width: 100%;

        &__container
        {
            margin: 0;
            &__list
            {
                margin-left: 145px;
                a
                {
                    width: 65px;
                    font-size: 15px;
                }
            }

            img
            {
                height: 80px;
            }

        }
    }

    .hero
    {
        img
        {
            background-image: url(../images/hero_mobile.jpg);
            background-repeat: no-repeat;
        }
    }
   .sobre
   {
        display: block;

        img
        {
            height: 550px;
            margin: 0;
            padding: 30px;
        }
    
        &__descriptions
        {
            .tituloh1
            {
                font-size: 40px;
                margin-left: 29px;
                margin-bottom: 10px;
            }

            .tituloh2
            {
                font-size: 13px;
                margin-left: 29px;
                text-transform: uppercase;
                margin-bottom: 0;
            }
            p
            {
                margin-left: 30px;
                font-size: 20px;
                width: 170%;
                line-height: 30px;
            }
        }
    }
    .shows
    {
        &__tabs
        {
            &__button
            {
                font-size: 15px;
            }
        }

        &__list
        {
            grid-template-columns: 1fr;
            p:last-child
            {
                line-height: 35px;
            }

            &__games
            {
                grid-template-columns: 1fr;
                margin: 0;
                li
                {
                    max-width: 350px;
                    width: 100%;

                    .plataformas
                    {
                        margin-left: 50px;
                    }
                    
                    .imageGame
                    {
                        height: 200px;
                    }

                    p
                    {
                        font-size: 26px;
                    }
                }
            }

            &__figs
            {
                margin: 15px 0 0 0;
                margin-left: 11%;
                grid-template-columns: 1fr;

                &__item
                {
                    width: 80%;
                    padding: 40px;
                    height: 470px;
                    margin: 15px 0 15px 0 ;
                    img
                    {
                        height: 230px;
                    }

                    .descFigs
                    {
                        font-size: 26px;
                    }
                }
            }
        }
    }
}



